*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
}

header{
    height: 100vh;
}

div.headlog{
    display: flex;
    font-family: helvetica;
    color: #000000;
    font-size: 75px;
    font-weight: 300;
    border-bottom-left-radius: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #97c4e5;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

summary{
    list-style-type: none;
    cursor: pointer;
    color: #000000;
    font-size: 18px;
}

summary:hover{
    font-size: 22px;
}

button{
    width: 80%;
    margin-block: 3px;
    background-color: #000000;
    color: #97c4e5;
    font-size: 13px; 
    border-radius: 30px;
    border: none;
}

button:hover{
    width: 90%;
    font-size: 15px;
}

summary img{
    width: 5%;
}

div img{
    width: 15%;
}

img{
    border-radius: 100px;
}

a{
    text-decoration: none;
    color: #97c4e5;
}

h2{
    color: #97c4e5;
    margin-block: 15px;
}

section img{
    width: 65%;
    border-radius: 2px;
}

section{
    text-align: center;
}

@media screen and (max-width: 960px) {
    *{
        margin: 0;
        padding: 0;
    }

    h1{
        font-size: 20px;
    }

    nav{
        display: flex;
        justify-content: space-between;
        padding: 5px 15px 5px 8px;
    }

    details{
        width: 20%;
        height: 20%;
    }

    summary{
        font-size: 10px;
        text-align: right;
        font-weight: 600;
    }

    summary:hover{
        font-size: 12px;
    }

    button{
        width: 70%;
        font-size: 10px;
    }

    button:hover{
        width: 90%;
        font-size: 12px;
    }

    .headlog{
        width: 40%;
        height: 20%;
    }

    #mid{
        margin-top: 80px;
        text-align: center;
    }

}